<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile" fileName="logs/not_found.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="MyFile2" fileName="logs/search_history.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="MyFile3" fileName="logs/errors.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>

    <loggers>
        <root level="error">
            <!--<appender-ref ref="Console" level="info"/>-->
            <appender-ref ref="MyFile3" level="error"/>
        </root>
        <logger name= "not" level="debug" additivity="false">
            <AppenderRef ref="MyFile"/>
        </logger>

        <logger name= "find" level="info" additivity="false">
            <AppenderRef ref="MyFile2"/>
        </logger>

    </loggers>
</configuration>